<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="card-mapa">
            <div class="card-mapa-left-container">
                <div class="card-mapa-left">
                    <p class="card-mapa-text-large">Bicentenário da Independência:</p>
                    <p class="card-mapa-text-large">200 anos de Ciência, Tecnologia e Inovação</p>
                    <p class="card-mapa-text-azul">A Paraíba Inovando e Empreendendo</p>
                    
                </div>
                <div id="card-mapa-left-input-area">
                    <input type="text" class="text" hidden>
                </div>
            </div>       
        </div>
    </body>
</html>

